body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(202, 86%, 94%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /*
  color:hsl(61, 70%, 52%);
  color:hsl(4, 69%, 50%);
  color:hsl(0, 0%, 100%);
  color:hsl(202, 86%, 94%);
  color:hsl(203, 41%, 72%);
  color:hsl(200, 26%, 54%);
  color:hsl(200, 24%, 40%);
  color:hsl(202, 55%, 16%);
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border-radius: 30px;
  width: 1000px;
  height: 600px;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  display: flex;
  color: hsl(202, 55%, 16%);
  margin-top: 10px;
}

.title {
  color: hsl(202, 55%, 16%);
  font-size: 30px;
}

.clear {
  flex-direction: column;
  align-content: space-around;
  margin-left: 65px;
  color: hsl(200, 24%, 40%);
}

.form-container {
  width: 50%;
  padding: 40px;
}

.results-shows {
  width: 50%;
  background-color: hsl(202, 55%, 16%);
  color: aliceblue;
  border-radius: 0 30px 30px 90px;
}

label {
  display: flex;
  margin-top: 20px;
  margin-bottom: -5px;
  color: hsl(200, 24%, 40%);
}

.input-group {
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.input-group-border {
  border-style: solid;
  border-width: 1px;
  border-color: hsl(203, 41%, 72%);
}

.input-group-border:hover {
  border-color: hsl(61, 70%, 52%);
}

span.input-group-text:hover {
  background-color: hsl(61, 70%, 52%);
}

.form-check {
  color: hsl(202, 55%, 16%);
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-top: 10px;
}

.form-check-label {
  padding-left: 15px;
  margin-top: 0;
  display: flex;
  align-items: center;
  height: 45px;
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label label.form-check-label {
  opacity: 2.5;
}

span.input-group-text {
  background-color: hsl(202, 86%, 94%);
}

.btn-primary {
  width: 65%;
  border-radius: 20px;
  border-style: none;
  background-color: hsl(61, 70%, 52%);
  margin-top: 30px;
  height: 45px;
  color: hsl(202, 55%, 16%);
  font-weight: 700;
}

.btn-primary:hover {
  background-color: hsl(61deg 70% 52% / 74%);
  color: hsl(202, 55%, 16%);
}

.results-shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.paragraph {
  text-align: center;
  margin: 0 50px;
  color: hsl(203, 41%, 72%);
}

.input-group>.form-control:focus {
  outline: none;
  box-shadow: none;
}

.your-result {
  padding: 50px;
  width: 50%;
  background-color: hsl(202, 55%, 16%);
  color: aliceblue;
  border-radius: 0 30px 30px 90px;
}

.text {
  color: #718a97;
  font-size: 16px;
}

p.text {
  margin-bottom: 50px;
}

.sterling {
  color: #ffffff;
  font-size: 25px;
}

.result-information {
  background-color: #0e2431;
  border-radius: 10px;
  height: 260px;
  border-style: solid;
  border-width: 5px 0 0 0;
  border-color: hsl(61, 70%, 52%);
}

.ticket {
  margin-left: 30px;
  margin-right: 30px;
}

h2.results{
  font-size: 22px;
}

h4.text {
  margin-top: 25px;
}

span.sterling.repayments {
  font-size: 55px;
  color: hsl(61, 70%, 52%);
  margin-bottom: 20px;
}

.ticket.monthly {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsl(202.29deg 25.93% 26.47%);
  height: 120px;
}